@model PoolOfBooks.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<section class="login container">

    <h1 class="form-title">Удаление категории</h1>

    <h3 class="form-title">Вы уверены, что хотите удалить категорию?</h3>
<div>
        <p><strong class="book__feature">@Html.DisplayNameFor(model => model.name):</strong><span>@Html.DisplayFor(model => model.name)</span></p>
    
</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-primary" /> |
        <a class="form-link" asp-action="Index">Вернуться</a>
    </form>
</section>