@{
    HttpContext context;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" />
    <!-- Слайдер  -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <!-- <link rel="stylesheet" href="css/grid.min.css" /> -->
    <!-- Иконочный шрифт -->
    <link rel="stylesheet" href="~/css/iconsfont.min.css" />
    <!-- Стили  -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <title>Pool of Books - Rent A Book</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="~/Home/Index" class="logo header-wrap__logo">
                    <img src="~/img/logo.png"
                         alt="Логотип: Pool of Books"
                         class="header-wrap__img" />
                </a>
                <div class="header-wrap__nav-wrap">
                    <ul class="nav header-wrap__nav">
                        <li class="nav__item">
                            <a href="#recs" class="nav__link">Распродажа</a>
                        </li>
                        <li class="nav__item">
                            <a href="~/Books/Index" class="nav__link">Каталог</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Отзывы</a>
                        </li>
                    </ul>
                    
                        <a action="get" href="~/SignInCheckForAvatar">
                            <img src="~/img/user.png" alt="Avatar" class="header-wrap__avatar">
                        </a>
                </div>
                <!-- /.header-wrap__nav-wrap -->
                <button class="menu-btn header-wrap__menu-btn">
                    <span class="menu-btn__line menu-btn__line_top"></span>
                    <span class="menu-btn__line menu-btn__line_middle"></span>
                    <span class="menu-btn__line menu-btn__line_bottom"></span>
                </button>
                <!-- /.menu-btn -->
            </div>
            <!-- /.header-wrap -->
        </div>
        <!-- /.container -->
    </header>
    
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__contacts">
                    <img src="~/img/logo.png"
                         alt="Logotype: Ehya"
                         class="logo footer__logo" />
                    <span class="footer__description">Создайте современный и креативный веб-сайт с crealand</span>
                    <div class="footer__social-networks">
                        <i class="footer__icon fab fa-google"></i>
                        <i class="footer__icon fab fa-twitter"></i>
                        <i class="footer__icon fab fa-instagram"></i>
                        <i class="footer__icon fab fa-linkedin"></i>
                    </div>
                </div>
                <!-- /.footer__contacts -->
                <div class="footer__products">
                    <h4 class="footer__title">Продукт</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Лэндинг</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Функции</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Документация</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Скидки</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Расценки</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__products -->
                <div class="footer__services">
                    <h4 class="footer__title">Сервисы</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Документация</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Дизайн</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Темы</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Илюстрации</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">UI Kit</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__services -->
                <div class="footer__company">
                    <h4 class="footer__title">Компания</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">О нас</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Условия</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Careers</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__company -->
                <div class="footer__else">
                    <h4 class="footer__title">Еще..</h4>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Документация</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Лицензия</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Изменения</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__else -->
            </div>
            <!-- /.footer__wrap -->
            <div class="footer__bottom">
                <i class="footer__icon footer__icon_big fas fa-heart"></i>
                <span class="footer__copyright">Copyright © 2019. Crafted with love.</span>
            </div>
            <!-- /.footer__bottom -->
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
