

<section class="login container">
    <h1 class="form-title">О нас</h1>
    <div class="about">
    <p>Pool of Books — это сервис проката книг, где Вы можете открыть для себя новых авторов, прочитать новинки, а также приобрести самые читаемые книги по низкой цене.</p>
    <p>Мы даем возможность познакомится с самыми популярными книгами в красивых и качественных изданиях по минимальной цене.</p>
    <p>Наша цель — стать основным источником современной литературы, доступной для всех!</p>
        <p>Сейчас сервис работает только на территории <strong>города САНКТ-ПЕТЕРБУРГ!</strong></p>
    </div>

    <h2 class="form-title">Условия аренды</h2>
    <ul class="conditions">
        <li>За один заказ Вы можете арендовать не больше 5 книг.</li>
        <li>Адресом доставки автоматически становится адрес указанный в личном кабинете.</li>
        <li>После оформления заказа с Вами свяжется администратор для уточнения деталей доставки и подтверждения заказа.</li>
        <li><strong>ВНИМАНИЕ!</strong> Администратор связывается с Вами либо по телефону, либо по почте которые указаны в личном кабинете. Если мы не сможем с Вами связаться - заказ будет отменен!</li>
        <li>Аренда оформляется на 1 месяц.</li>
        <li>За 5 дней до конца аренды с Вами свяжутся для напоминания о возврате книги или продлении срока еще на 1 месяц.</li>
        <li>Получить и вернуть книгу можно самостоятельно по адресу: г.Санкт-Петербург, ул. Николая Рубцова, 11к1.</li>
        <li>Также можно позвонить по телефону или написать в Telegram <a href="tel:89611541737">+7 961 154 17 37</a> и заказать доставку.</li>
    </ul>

    <h2 class="form-title">Наши контакты</h2>
    <div class="contacts">
        <p>Телеграм: <a href="https://t.me/Web_anastasia" target="_blank">+7 961 154 17 37</a></p>
        <p>E-mail: <a href="mailto:knastya76@yandex.ru">knastya76@yandex.ru</a></p>
        <p>Адрес: г.Санкт-Петербург, ул. Николая Рубцова, 11к1</p>
    </div>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A61f467be3e3fc43bbd8e198934a42b262a27ea40478b501ba4583279e6b93b10&amp;width=100%25&amp;height=275&amp;lang=ru_RU&amp;scroll=true"></script>
</section>